body {
    
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 15px;
}

p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}